NODE_ENV=development
LOG_LEVEL=debug
ENABLE_DEBUG_EVENTS_TO_FILE=false

PORT=3001

DATABASE_URL=postgres://postgres:12345@localhost:5432/baileys-api
# Simple authentication, uses equals comparison
API_KEY=my-api-key

# Configure reconnection using exponential backoff
MAX_RECONNECT_ATTEMPTS=5
RECONNECT_BASE_DELAY=10 seconds

# Defines the limit of whatsapp authentication
MAX_QR_GENERATION_ATTEMPTS=5
PAIR_CODE_TIMEOUT=2 minutes

# Otel configuration
OTEL_EXPORTER_OTLP_TRACE_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs
